/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
/* UTILS */

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.col-1-7 {
  width: calc(100% / 7);
}

/* HEADER */

#page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#page-header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#page-header nav ul li {
  font-size: 14px;
  color: #464646;
  font-weight: bold;
}

#page-header nav ul li.active {
  color: #0c7cec;
}

#page-header .logo {
  width: 5rem;
  height: 5rem;
}

/* MAIN */

#page-main {
  background-color: #1c1c1c;
  color: white;
  padding: 3rem;
}

/* ICON BAR */

#icon-bar {
  background-color: #0282f9;
  color: white;
  padding: 3rem;
}

#icon-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 15px;
}

#icon-bar ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#icon-bar ul li .icon {
  width: 3rem;
}

/* FOOTER */

.footer-top {
  background-image: url(src/assets/img/footer-bg.jpg);
  color: white;
  padding: 2rem;
}

.footer-top ul li {
  font-size: 13px;
  color: #959595;
}

.footer-top ul {
  padding-bottom: 2rem;
}

.col-1-7 h3 {
  padding-bottom: 1rem;
}

.footer-bottom .follow {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #0282f9;
}

.footer-bottom {
  padding: 2rem;
  background-color: #303030;
  position: relative;
}

.sign-up {
  background-color: #303030;
  border: 2px solid #0282f9;
  font-size: 15px;
  color: white;
  font-weight: bold;
  padding: 1rem;
}

.footer-bottom .row {
  justify-content: space-between;
}

.big-logo {
  position: absolute;
  position: absolute;
  right: 340px;
  top: 344px;
  width: 572px;
}
